.main {
background-color: var(--brand-color);
background-image: linear-gradient(
rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)
),
url(../images/hero-bg-mob.jpg);
// background-repeat: no-repeat;
// background-position: center;
background-size: cover;
// max-width: 1600px;
margin: 0 auto;
text-align: center;
padding-bottom: 118px;
padding-top: 118px;

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
background-image: linear-gradient(
rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)
),
url(../images/hero-bg-mob2x.jpg);
}

@media screen and (min-width: 768px) {
    padding-bottom: 200px;
    padding-top: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    background-image: linear-gradient(
rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)
),
url(../images/hero-bg-tab.jpg);
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
background-image: linear-gradient(
rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)
),
url(../images/hero-bg-tab2x.jpg);
}
}

@media screen and (min-width: 1200px) {
    padding-bottom: 200px;
    padding-top: 200px;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(
rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)
),
url(../images/heroImg.jpg);
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
background-image: linear-gradient(
rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)
),
url(../images/hero-bg-desk2x.jpg);
}
}
}

.main-info {
background-color: #FFFFFF;

}
.main__title {
font-weight: 900;
font-size: 26px;
line-height: 1.62;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 30px;
@media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
}
}

.btn {
border-radius: 4px;
padding: 10px 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.9;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: var(--color-accent);
cursor: pointer;
border: #F5F4FA;
}

.main__btn {
margin: auto;
}